extends base

block content
	h1.bd-title Markets
	hr.mt-0
	
	div.row
		div.col-xl-5
			h2.h5.font-weight-normal News
			table.table.table-hover
				tbody
					tr
						td.small BTC/USD#[br]FB#[br]GOOG
						td
							strong WWW Invertor Cautions Blockchain Developers About 'Consequences'
							p.small.text-muted.mb-0 Inverstopedia.com - October 19, 2017
					tr
						td.small BTC/USD#[br]FB#[br]GOOG
						td
							strong WWW Invertor Cautions Blockchain Developers About 'Consequences'
							p.small.text-muted.mb-0 Inverstopedia.com - October 19, 2017
					tr
						td.small BTC/USD#[br]FB#[br]GOOG
						td
							strong WWW Invertor Cautions Blockchain Developers About 'Consequences'
							p.small.text-muted.mb-0 Inverstopedia.com - October 19, 2017
		div.col-xl-4.col-md-7
			h2.h5.font-weight-normal Gainers
			table.table.table-sm.table-hover
				thead
					tr
						th.small.font-weight-normal Symbol
						th.small.font-weight-normal Price
						th.small.font-weight-normal Change
						th.small.font-weight-normal % Change
						th.small.font-weight-normal Volume
				tbody
					tr
						td.small.font-weight-bold.pb-3 
							strong GOOG
							p.small.text-muted(style='position: absolute') Niagara Mohawk Power Corp
						td.small.font-weight-bold $988.20
						td.small.font-weight-bold(style='color: #090') +$3.75 
						td.small.font-weight-bold(style='color: #090') +0.38%
						td.small.font-weight-bold 1.18M
					tr
						td.small.font-weight-bold.pb-3 
							strong GOOG
							p.small.text-muted(style='position: absolute') Niagara Mohawk Power Corp
						td.small.font-weight-bold $988.20
						td.small.font-weight-bold(style='color: #090') +$3.75 
						td.small.font-weight-bold(style='color: #090') +0.38%
						td.small.font-weight-bold 1.18M

			h2.h5.font-weight-normal Losers
			table.table.table-sm.table-hover
				thead
					tr
						th.small.font-weight-normal Symbol
						th.small.font-weight-normal Price
						th.small.font-weight-normal Change
						th.small.font-weight-normal % Change
						th.small.font-weight-normal Volume
				tbody
					tr
						td.small.font-weight-bold.pb-3 
							strong GOOG
							p.small.text-muted(style='position: absolute') Niagara Mohawk Power Corp
						td.small.font-weight-bold $988.20
						td.small.font-weight-bold(style='color: #090') +$3.75 
						td.small.font-weight-bold(style='color: #090') +0.38%
						td.small.font-weight-bold 1.18M
					tr
						td.small.font-weight-bold.pb-3 
							strong GOOG
							p.small.text-muted(style='position: absolute') Niagara Mohawk Power Corp
						td.small.font-weight-bold $988.20
						td.small.font-weight-bold(style='color: #090') +$3.75 
						td.small.font-weight-bold(style='color: #090') +0.38%
						td.small.font-weight-bold 1.18M
		div.col-xl-3.col-md-5
			h2.h5.font-weight-normal Watchlist
			table.table.table-sm.table-hover
				thead
					tr
						th.small.font-weight-normal Symbol
						th.small.font-weight-normal Price
						th.small.font-weight-normal % Change
				tbody
					tr
						td.small.font-weight-bold.pb-3 
							strong GOOG
							p.small.text-muted(style='position: absolute') Niagara Mohawk Power Corp
						td.small.font-weight-bold $988.20
						td.small.font-weight-bold(style='color: #090') +0.38%
					tr
						td.small.font-weight-bold.pb-3 
							strong GOOG
							p.small.text-muted(style='position: absolute') Niagara Mohawk Power Corp
						td.small.font-weight-bold $988.20
						td.small.font-weight-bold(style='color: #090') +0.38%

			h2.h5.font-weight-normal Recently Viewed
			table.table.table-sm.table-hover
				thead
					tr
						th.small.font-weight-normal Symbol
						th.small.font-weight-normal Price
						th.small.font-weight-normal % Change
				tbody
					tr
						td.small.font-weight-bold.pb-3 
							strong GOOG
							p.small.text-muted(style='position: absolute') Niagara Mohawk Power Corp
						td.small.font-weight-bold $988.20
						td.small.font-weight-bold(style='color: #090') +0.38%
					tr
						td.small.font-weight-bold.pb-3 
							strong GOOG
							p.small.text-muted(style='position: absolute') Niagara Mohawk Power Corp
						td.small.font-weight-bold $988.20
						td.small.font-weight-bold(style='color: #090') +0.38%
