extends base

block content
	h1.bd-title Trade History
	div.table-responsive
		table.table.table-sm.table-hover
			thead
				tr
					th.font-weight-normal Date
					th.font-weight-normal Trade Type
					th.font-weight-normal Symbol
					th.font-weight-normal Quantity
					th.font-weight-normal Target Price
					th.font-weight-normal Final Price
					th.font-weight-normal Comission
					th.font-weight-normal Total Value
					th.font-weight-normal Account Value
			tbody
				tr
					td.font-weight-bold 10/18/2013 3:41PM
					td.font-weight-bold Sell at Market
					td.font-weight-bold UVXY
					td.font-weight-bold 520
					td.font-weight-bold
					td.font-weight-bold $119.08
					td.font-weight-bold $9.99
					td.font-weight-bold(style='color: #090') $192.40 &uarr;
					td.font-weight-bold(style='color: #090') $590,342,293.80 &uarr;