extends base

block content
	h1.bd-title Kailang
	p.bd-lead I can do want I what.

	dl.row
		dt.col-sm-3 Link
		dd.col-sm-9 http://gskse.com

		dt.col-sm-3 Member since
		dd.col-sm-9 2017/12/31

		dt.col-sm-3 Last seen
		dd.col-sm-9 2017/09/12

		dt.col-sm-3 Account value
		dd.col-sm-9
			span.p-1(style="background: #16a237; color: #fff") $193,433,546,343.00 &uarr;

		dt.col-sm-3 Rank
		dd.col-sm-9 
			span.p-1(style="background: #16a237; color: #fff") 123432 &uarr;

	div TODO: Insert chart here.