extends base

block content
	h1.h4.font-weight-normal GOOG - Alphabet Inc.
	hr.my-0

	h2.h1.my-0 988.20
		span.ml-2.small(style='color: #090') +0.71 (+19.22%)

	br

	ul.nav.nav-tabs.small
		li.nav-item #[a.nav-link.active(href='#') Summary]
		li.nav-item #[a.nav-link(href='#') Chart]
		li.nav-item #[a.nav-link(href='#') Conversations]
		li.nav-item #[a.nav-link(href='#') Profile]
		li.nav-item #[a.nav-link(href='#') Financials]
		li.nav-item #[a.nav-link(href='#') Holders]
	
	div.row.mt-3
		div.col-xl-9
			div.row
				div.col-lg-4
					table.table.table-sm
						tbody
							tr
								td Previous Close
								th.text-right 4.21
							tr
								td Open
								th.text-right 4.44
							tr
								td Bid
								th.text-right 4.21 x 123
							tr
								td Ask
								th.text-right 4.32 x 123
							tr
								td Day's Range
								th.text-right 4.21 - 3.32
							tr
								td 52 Week Range
								th.text-right 4.30 - 3.33
							tr
								td Volume
								th.text-right 310
				div.col-lg-8.red Chart

			br

			div
				table.table.table-hover
					tbody
						tr
							td.small BTC/USD#[br]FB#[br]GOOG
							td
								strong WWW Invertor Cautions Blockchain Developers About 'Consequences'
								p.small.text-muted Inverstopedia.com - October 19, 2017
						tr
							td.small BTC/USD#[br]FB#[br]GOOG
							td
								strong WWW Invertor Cautions Blockchain Developers About 'Consequences'
								p.small.text-muted Inverstopedia.com - October 19, 2017
						tr
							td.small BTC/USD#[br]FB#[br]GOOG
							td
								strong WWW Invertor Cautions Blockchain Developers About 'Consequences'
								p.small.text-muted Inverstopedia.com - October 19, 2017
		div.col-xl-3.small
			h3.h5 Profile
			br

			p West Ashland
			p Milton Keynes MK6BB
			p Ynited Kingom
			p Industry
			p Domino's Pizza Group plc owns, operates, and franchises Dominos Pizza stores in the United Kingdom, the Republic of Ireland, Switzerland, Luxembourg, and Liechtenstein. It also leases properties; and leases store equipment to franchisees. As of December 25, 2016, the company had 950 stores in the United Kingdom; 
