extends base

block content
	h1.bd-title Open Trades
	div.table-responsive
		table.table.table-sm.table-hover
			thead
				tr
					th.font-weight-normal Order #
					th.font-weight-normal Action
					th.font-weight-normal Transaction
					th.font-weight-normal Symbol
					th.font-weight-normal Quantity
					th.font-weight-normal Price
					th.font-weight-normal Processed At
					th.font-weight-normal Expire On
			tbody
				tr
					td.font-weight-bold 34534523
					td.font-weight-bold #[a(href='#') Cancel]
					td.font-weight-bold Buy at Market
					td.font-weight-bold GE
					td.font-weight-bold 100
					td.font-weight-bold Limit $119.08
					td.font-weight-bold 10/18/2013 3:41PM
					td.font-weight-bold 10/18/2013 3:41PM











