extends base

block content
	h1.bd-title Watchlist
	div.table-responsive
		table.table.table-sm.table-hover
			thead
				tr
					th.small.font-weight-normal.align-center Symbol
					th.small.font-weight-normal.align-center Name
					th.small.font-weight-normal Price
					th.small.font-weight-normal Change
					th.small.font-weight-normal % Change
					th.small.font-weight-normal Volume
					th.small.font-weight-normal Div/Yield
					th.small.font-weight-normal Day Range
					th.small.font-weight-normal 52Wk Range
			tbody
				tr
					td.small.font-weight-bold GOOG
					td.small.font-weight-bold Alphabet Inc.
					td.small.font-weight-bold $988.20
					td.small.font-weight-bold(style='color: #090') +$3.75 
					td.small.font-weight-bold(style='color: #090') +0.38%
					td.small.font-weight-bold 1.18M
					td.small.font-weight-bold 0.00/0.00%
					td.small.font-weight-bold $948.50#[span.mx-2.align-middle(style='display: inline-block; width: 80px; height: 1px; background: #ddd') #[span(style='display: block; position: relative; height: 10px; width: 10px; top: -5px; left: 50%; background: #95c2f9; border-radius: 100%; margin-left: -5px')]]$991.00
					td.small.font-weight-bold $948.50#[span.mx-2.align-middle(style='display: inline-block; width: 80px; height: 1px; background: #ddd') #[span(style='display: block; position: relative; height: 10px; width: 10px; top: -5px; left: 50%; background: #95c2f9; border-radius: 100%; margin-left: -5px')]]$991.00

	h2 Recently Viewed
	div.table-responsive
		table.table.table-sm.table-hover
			thead
				tr
					th.small.font-weight-normal.align-center Symbol
					th.small.font-weight-normal.align-center Name
					th.small.font-weight-normal Price
					th.small.font-weight-normal Change
					th.small.font-weight-normal % Change
					th.small.font-weight-normal Volume
			tbody
				tr
					td.small.font-weight-bold GOOG
					td.small.font-weight-bold Alphabet Inc.
					td.small.font-weight-bold $988.20
					td.small.font-weight-bold(style='color: #090') +$3.75 
					td.small.font-weight-bold(style='color: #090') +0.38%
					td.small.font-weight-bold 1.18M

	h2 News
	div
		table.table.table-hover
			tbody
				tr
					td.small BTC/USD#[br]FB#[br]GOOG
					td
						strong WWW Invertor Cautions Blockchain Developers About 'Consequences'
						p.small.text-muted Inverstopedia.com - October 19, 2017
				tr
					td.small BTC/USD#[br]FB#[br]GOOG
					td
						strong WWW Invertor Cautions Blockchain Developers About 'Consequences'
						p.small.text-muted Inverstopedia.com - October 19, 2017
				tr
					td.small BTC/USD#[br]FB#[br]GOOG
					td
						strong WWW Invertor Cautions Blockchain Developers About 'Consequences'
						p.small.text-muted Inverstopedia.com - October 19, 2017