doctype html

html(lang='en')
	head
		title #{title} &bull; GSKSE

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/mod.css')

	body
		block main

		script(src='/vendor/jquery-3.2.1.min.js')
		script(src='/vendor/popper.min.js')
		script(src='/vendor/bootstrap.min.js')

		block foot
