extends base

block var1
	- title = error.name

block main
	h1.display-4= error.name
		small.font-weight-light.ml-3.text-muted= error.status
	p.lead= error.message
	
	if error.stack
		pre.px-3.py-2= error.stack
