extends base

include navbar

block main
	+navbar(1)

	div.bg-light
		div.container
			nav.nav.nav-pills.nav-justified.small.p-2
				a.nav-link.active(href='/login') Log in
				a.nav-link(href='/signup') Sign up


	div.container.mt-4
		div.row.justify-content-center
			div.col-md-7.col-lg-5
				div.card
					div.card-body
						h1.h3.card-title.text-center GSKSE Log in
						hr.mt-0

						form(method='post')
							div.form-group
								label Name
								input.form-control(type='text', name='name', placeholder='Kirito')
							
							div.form-group
								label Password
								input.form-control(type='password', name='password', placeholder='************')

							button.btn.btn-lg.btn-primary.btn-block(type='submit') Login

