mixin navbar(i)
	header.navbar.navbar-expand-md.navbar-dark.bg-dark
		a.navbar-brand(href='/') GSKSE
		button.navbar-toggler(data-toggle='collapse', data-target='#navbar-content')
			span.navbar-toggler-icon

		div#navbar-content.collapse.navbar-collapse
			form.form-inline(method='get').py-2.py-md-0.mr-md-2
				input.form-control.form-control-sm.bg-dark.text-light(type='search', placeholder='Symbol...', name='symbol')
			nav.navbar-nav.mr-auto
				a.nav-link(href='/', 			class=(!--i) && 'active') Home
				a.nav-link(href='/exchange', 	class=(!--i) && 'active') Stock
				a.nav-link(href='/venture', 	class=(!--i) && 'active') Venture
				a.nav-link(href='/regulation', 	class=(!--i) && 'active') Regulation

			nav.navbar-nav
				div.dropdown
					a.dropdown-toggle.nav-link(href=nop, data-toggle='dropdown')= __('common-locale')
					div.dropdown-menu.dropdown-menu-right
						a.dropdown-item(href='/locale/en', 		class=(locale == 'en') && 'active'		) English
						a.dropdown-item(href='/locale/ja', 		class=(locale == 'ja') && 'active'		) 日本語
						a.dropdown-item(href='/locale/zh-hans', class=(locale == 'zh-hans') && 'active'	) 简体中文
						a.dropdown-item(href='/locale/zh-hant', class=(locale == 'zh-hant') && 'active'	) 正體中文
				if friend
					div.dropdown
						a.dropdown-toggle.nav-link(href=nop, data-toggle='dropdown')
							img.rounded(src=getUrl(friend.avatar), width='20', height='20')
						div.dropdown-menu.dropdown-menu-right
							h6.dropdown-header.py-1= friend.name
							div.dropdown-divider
							a.dropdown-item(href='/venture/new') New Venture
							div.dropdown-divider
							a.dropdown-item(href='/logout') Log out
				else
					a.nav-link(href='/login') Log in
